@page "/"

<PageTitle>Home</PageTitle>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Codigo</th>
            <th scope="col">Nombre</th>
            <th scope="col">Creditos</th>
            <th scope="col">Docente</th>
            <th scope="col">Horario</th>
            <th scope="col">Calificacion</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var asignatura in Asignaturas)
        {
            <tr>
                <td>@asignatura.Codigo</td>
                <td>@asignatura.Nombre</td>
                <td>@asignatura.Creditos</td>
                <td><a href="/profesor/@asignatura.ProfesorId">@asignatura.Profesor </a></td>
                <td>@asignatura.DiaSemana1 (@asignatura.HoraInicio1 - @asignatura.HoraFin1)</td>
                <td>@asignatura.Calificacion</td>
            </tr>
        }
    </tbody>
</table>
