@page "/profesor/{ProfesorId:int}"

<PageTitle>Profesor</PageTitle>

<div>
    <h3>Profesor </h3>
    
</div>

<div>
    <h4> <strong>@(@UnProfesor.Nombre + " " + @UnProfesor.Apellido)</strong>  </h4>

</div>

<div class="card" style="width: 18rem;">
    <img src="https://www.bucks.ac.uk/sites/default/files/styles/400x400/public/2021-03/dummy-profile-image.png?h=56332f9e&itok=iIPWqhAi" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">@UnProfesor.Nombre</h5>
        <p class="card-text">Titulacion: <strong>@UnProfesor.Titulacion.</strong></p>
    </div>
</div>

<div>

    <h4>Asignaturas que imparte el maestro</h4>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Codigo</th>
                <th scope="col">Nombre</th>
                <th scope="col">Creditos</th>
                <th scope="col">Horario</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var asignatura in Asignaturas)
            {
                <tr>
                    <td>@asignatura.AsignaturaCodigo</td>
                    <td>@asignatura.NombreAsignatura</td>
                    <td>@asignatura.CreditosTeoricos</td>
                    <td>@asignatura.DiaSemana1 (@asignatura.HoraInicio1 - @asignatura.HoraFin1)
                        <br />@asignatura.DiaSemana2 (@asignatura.HoraInicio2 - @asignatura.HoraFin2)
                        </td>
                </tr>
            }
        </tbody>
    </table>
</div>
